@import 'variable';

%flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

%stat{
    @extend %flex;
    flex-direction: column;
    width:calc(100% / 3);
    text-align: center;
    color:$dark;

    h3{
        line-height: 1.2;
    }
    p{
        font-size: 12px;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
main{
    @extend %flex;
    width: 100%;
    min-height: 100vh;
    
}

.card {
    @extend %flex;
    flex-direction: column;
    background-color: $darkblue;
    border-radius: 10px;
    height: 350px;
    width: 250px;
    margin-left: 20px; 

    transform-style: preserve-3d;
    transform: perspective(1000px);

    &__img{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-size: contain;
        width: 250px;
        height:150px; 
    }

    &__text{
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        color: $light;
        line-height: 1.4;
        padding: 15px;

        transform: translateZ(30px);
        p{
            font-size: 12px;
            margin-top: 5px;
        }
    }

    &__stats{
        display: flex;
        margin-top: 5px;
        padding: 0;
        width: 100%;
        height:100%; 
        border-radius: 10px;
        background-color: palegreen;

        &--read{
            @extend %stat;
            background-color: $read;
            border-end-start-radius: 10px;
        }
        &--view{
            @extend %stat;
            background-color: $view;
        }
        &--comment{
            @extend %stat;
            background-color: $comment;
            border-end-end-radius: 10px;
        }
    }

}






